@{
    ViewData["Title"] = "About";
}

<body style="background-image: url('/images/about_photo.jpg');">
    <p align="center" style="padding-left:700px; padding-right:0px; padding-top:10px">
        <font color="white " size="3" face="verdana">
            Offering market-linked long-term solutions, ecotourism provides
            effective economic incentives for conserving and enhancing bio-cultural
            diversity and helps protect the natural and cultural heritage of our
            beautiful planet. By increasing local capacity building and employment
            opportunities, ecotourism is an effective vehicle for empowering local
            communities around the world to fight against poverty and to achieve
            sustainable development. With an emphasis on enriching personal experiences
            and environmental awareness through interpretation, ecotourism promotes
            greater understanding and appreciation for nature, local society, and culture.
        </font>
    </p>

    <br /><br /><br /><br /><br /><br />
    <br /><br /><br /><br /><br /><br />
    <br /><br /><br /><br /><br /><br />
    <br /><br /><br /><br /><br /><br />
    <br /><br /><br /><br /><br /><br />
</body>
