@{
    ViewData["Title"] = "Contact";
}

<body style="background-image: url('/images/contact_photo.jpg');">
    <br /><br />

    <address>
        494  Brown Avenue<br />
        Greenville, SC, South Carolina<br />
        <abbr title="Phone">P:</abbr>
        864-901-9535
    </address>

    <address>
        <strong>Support:</strong> <a href="mailto:Support@example.com">Support@ecotourism.com</a><br />
        <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@ecotourism.com</a>
    </address>

    <br /><br /><br /><br /><br /><br /><br /><br />
    <br /><br /><br /><br /><br /><br /><br /><br />
    <br /><br /><br /><br /><br /><br /><br /><br />
    <br /><br /><br />
</body>


