@{
    ViewData["Title"] = "Home Page";
}

<body style="background-image: url('/images/home_photo.jpg');">
    <p align="center" style="padding-left:10px; padding-right:500px; padding-top:40px">
        <font color="#43210a" size="4" face="verdana">
            Ecotourism is a form of tourism involving visiting fragile,
            pristine, and relatively undisturbed natural areas, intended as
            a low-impact and often small scale alternative to standard
            commercial mass tourism.
            It means responsible travel to natural areas, conserving the
            environment, and improving the well-being of
            the local people.
            Its purpose may be to educate the traveler, to provide funds
            for ecological conservation, to directly benefit the economic
            development and political empowerment of local communities, or
            to foster respect for different cultures and for human rights.
            Since the 1980s, ecotourism has been considered a critical endeavor
            by environmentalists, so that future generations may experience
            destinations relatively untouched by human intervention.
            Several university programs use this description as the working
            definition of ecotourism.
        </font>
    </p>
    <br /><br /><br /><br /><br />
    <br /><br /><br /><br /><br />
    <br /><br /><br /><br /><br />
    <br /><br /><br /><br /><br />
    <br /><br /><br /><br /><br />
</body>
