# Maven specific
target/
*.log

# IntelliJ IDEA specific
.idea/
*.iml
*.ipr
*.iws
out/

# Compiled files
*.class
*.jar
*.war
*.ear

# User-specific files
*.DS_Store
*.log
*.hprof

# Maven Wrapper
.mvn/
!**/mvnw
!**/mvnw.cmd

# Include the bin directory
!bin/

# Other temporary files
*.swp
*.swo
*~