# Maven specific
target/
*.log

# IntelliJ IDEA specific
.idea/
*.iml
*.ipr
*.iws
out/
# Project files
*.class
*.jar
*.war
*.ear

# User-specific files
*.DS_Store
*.class
*.log
*.hprof

# Maven Wrapper
.mvn/
!**/mvnw
!**/mvnw.cmd

# Other files
*.swp
*.swo
*~
