@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
}

<h2>@ViewData["Title"]</h2>
<p>
    Please check your email to reset your password.
</p>


<body style="background-image: url('/images/login.jpg');">
    <br /><br /><br /><br /> <br /><br /><br /><br />
    <br /><br /><br /><br /> <br /><br /><br /><br />
    <br /><br /><br /><br /> <br /><br /><br /><br />
</body>
