@page
@model LogoutModel
@{
    ViewData["Title"] = "Log out";
}

<header>
    <h1>@ViewData["Title"]</h1>
    <p>You have successfully logged out of the application.</p>
</header>

<body style="background-image: url('/images/login.jpg');">
    <br /><br /><br /><br /> <br /><br /><br /><br />
    <br /><br /><br /><br /> <br /><br /><br /><br />
    <br /><br /><br /><br /> <br /><br /><br /><br />
</body>